.right-navbar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 300px;
  height: 500px;
}

.bottom-side__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  width: 100%;
  height: 100%;
  position: relative;
}

.bottom-side__item {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  background-color: grey;
  height: 50px;
  font-size: 20px;
  padding: 8px;
  text-align: center;
}

.bottom-side__item a {
  color: white;
}

.bottom-side__item a:active {
  color: blue;
}

.bottom-side__item_1:hover {
  background-color: rgba(128, 0, 128, 0.493);
}

.bottom-side__item_1:hover ~ .right-navbar__item_2 {
  display: block;
  position: absolute;
  bottom: 100px;
}

.bottom-side__item_1:hover ~ .bottom-side__item_3 {
  display: block;
  position: absolute;
  bottom: 50px;
}

.bottom-side__item_1:hover ~ .bottom-side__item_4 {
  display: block;
  position: absolute;
  bottom: 0;
}

.bottom-side__item_2:hover {
  background-color: rgba(128, 0, 128, 0.493);
}

.bottom-side__item_2:hover ~ .bottom-side__item_3 {
  display: block;
  position: absolute;
  bottom: 50px;
}

.bottom-side__item_2:hover ~ .bottom-side__item_4 {
  display: block;
  position: absolute;
  bottom: 0;
}

.bottom-side__item_3:hover {
  background-color: rgba(128, 0, 128, 0.493);
}

.bottom-side__item_3:hover ~ .bottom-side__item_4 {
  display: block;
  position: absolute;
  bottom: 0;
}

.bottom-side__item_4:hover {
  background-color: rgba(128, 0, 128, 0.493);
}

.bottom-side__item_4:hover ~ .bottom-side__item_5 {
  display: block;
}

.bottom-side__item_1, .bottom-side__item_2, .bottom-side__item_3, .bottom-side__item_4 {
  border: 2px solid black;
  -webkit-box-shadow: 1px 0px 7px 3px orange;
          box-shadow: 1px 0px 7px 3px orange;
  background-color: rgba(49, 185, 49, 0.466);
}

.bottom-side__item_1:hover, .bottom-side__item_2:hover, .bottom-side__item_3:hover, .bottom-side__item_4:hover {
  text-decoration: underline;
}

.bottom-side__item_1__text, .bottom-side__item_2__text, .bottom-side__item_3__text, .bottom-side__item_4__text {
  display: none;
}

.bottom-side__item_5 {
  -webkit-box-flex: 0.9999;
      -ms-flex-positive: 0.9999;
          flex-grow: 0.9999;
  text-align: left;
}

.bottom-side__item_5__text {
  display: none;
}

.bottom-side__item_5:hover {
  display: block;
}

.bottom-side__item1-pic,
.bottom-side__item3-pic {
  display: block;
  height: 200px;
  width: 50%;
  border: 2px solid yellow;
  float: right;
  background: url("../img/jacket.jpg") right/cover no-repeat;
}

.bottom-side__item2-pic,
.bottom-side__item4-pic {
  display: block;
  height: 200px;
  width: 50%;
  border: 2px solid yellow;
  float: right;
  background: url("../img/zakat.jpg") right/cover no-repeat;
}

.bottom-side__item1-text,
.bottom-side__item2-text,
.bottom-side__item3-text,
.bottom-side__item4-text {
  text-align: left;
}

.bottom-side__container-item1,
.bottom-side__container-item2,
.bottom-side__container-item3,
.bottom-side__container-item4 {
  display: none;
}

.bottom-side__item_1:hover ~ .bottom-side__container-item1 {
  display: block;
  background-color: #77df77;
  height: 400px;
}

.bottom-side__item_2:hover ~ .bottom-side__container-item2 {
  display: block;
  background-color: #77df77;
  height: 400px;
}

.bottom-side__item_3:hover ~ .bottom-side__container-item3 {
  display: block;
  background-color: #77df77;
  height: 400px;
}

.bottom-side__item_4:hover ~ .bottom-side__container-item4 {
  display: block;
  background-color: #77df77;
  height: 400px;
}

.bottom-side__item_2:hover + .bottom-side__item_4 {
  display: block;
  position: absolute;
  bottom: 0;
}

.bottom-side__item_2:hover + .bottom-side__item_4 a {
  font-size: 500px/25px;
}
