@charset "UTF-8";
@font-face {
  font-family: "Conv_CALIFR";
  src: url("../fonts/CALIFR.eot");
  src: local("☺"), url("../fonts/CALIFR.woff") format("woff"), url("../fonts/CALIFR.ttf") format("truetype"), url("../fonts/CALIFR.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.menu__burger {
  display: none;
  margin-left: 25px;
  min-width: 35px;
  min-height: 35px;
}

@media (max-width: 767px) {
  .menu__burger {
    display: block;
    position: relative;
    right: 0;
    width: 35px;
    height: 35px;
  }
  .menu__burger:before, .menu__burger:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .menu__burger:before {
    top: 0;
  }
  .menu__burger:after {
    bottom: 0;
  }
  .menu__burger span {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 17.5px;
  }
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  color: white;
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Conv_CALIFR";
  src: url("../fonts/CALIFR.eot");
  src: local("☺"), url("../fonts/CALIFR.woff") format("woff"), url("fonts/CALIFR.ttf") format("truetype"), url("fonts/CALIFR.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.inside-menu {
  position: relative;
  z-index: 1;
  position: relative;
}

.inside-menu:hover .inside-menu__row {
  background-color: rgba(67, 215, 235, 0.719);
  color: blue;
  font-weight: 700;
  position: absolute;
  top: 33px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inside-menu__row {
  display: none;
}

.inside-menu__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.inside-menu__element {
  margin-top: 1px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35px;
          flex: 1 1 35px;
  padding: 8px 0;
  outline: 1px solid black;
  background-color: rgba(67, 215, 235, 0.719);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.orange_box, .hover-func, .inside-menu__element:hover, .menu__element:hover {
  background-color: orange;
  -webkit-box-shadow: 0 2px 3px 0 blue;
          box-shadow: 0 2px 3px 0 blue;
}

.top-side {
  margin: 40px 0;
  background: grey;
}

.hover-func, .inside-menu__element:hover, .menu__element:hover {
  background-color: rgba(17, 178, 199, 0.342);
  color: blue;
  position: relative;
  top: 2px;
  left: 2px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: all;
  transition-property: all;
  background: orange;
  font-family: "Conv_CALIFR";
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__bar {
  width: 90%;
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 10px;
}

.menu__bar__panel div {
  display: none;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.menu__element {
  height: 35px;
  padding: 5px 5px;
  background-color: rgba(67, 215, 235, 0.719);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid black;
  margin-right: 0px;
  font-style: italic;
}

.menu__element a {
  color: blue;
  font-weight: 100;
  font-family: "Conv_CALIFR";
  font-size: 24px;
}

body {
  background-color: #fcffe3;
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  max-width: 1300px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  margin: 0 20px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  border: 3px solid green;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

.navigation {
  margin-top: 20px;
  border-radius: 0 10px;
  content: "";
  z-index: 1;
  background-color: black;
  opacity: 0.9;
  position: fixed;
  padding: 3px;
  right: 1%;
}

.navigation:hover ul {
  display: block;
}

.navigation:hover .but-nav-bloat {
  display: none;
}

.but-nav-bloat {
  font-size: 20px;
}

.navigation ul {
  display: none;
}

.navigation li a {
  font-size: 20px;
  color: #47daff;
}

.navigation li a:hover {
  text-transform: uppercase;
}

.navigation ul li {
  width: 200px;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 5px;
  border: 2px solid purple;
  border-radius: 0 10px;
}

.but-nav-bloat {
  position: absolute;
  top: 3px;
  background-color: black;
  color: white;
  font-weight: 700;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid black;
}

.but-nav-bloat:hover {
  display: none;
  -webkit-box-shadow: 0 0 5px 4px orange;
          box-shadow: 0 0 5px 4px orange;
}

.but-nav-bloat:hover + .container ul {
  display: block;
}

.top-side {
  border: 3px solid red;
}

.top {
  margin-top: 10px;
  width: 100%;
}

.top__rows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.top__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 697px) {
  .menu__element {
    height: 60px;
  }
  .menu__element:first-child, .menu__element:last-child {
    padding-top: 18px;
  }
}

.champions {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.champions__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px -10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.champions__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.player__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid gold;
  padding: 5px;
}

.player__text:hover {
  -webkit-box-shadow: 0 0 10px 5px rgba(40, 114, 224, 0.623);
          box-shadow: 0 0 10px 5px rgba(40, 114, 224, 0.623);
}

.player__title {
  font-size: 24px;
  text-align: center;
  color: red;
  font-weight: 700;
  margin-bottom: 5px;
}

.player__title:hover {
  text-decoration: underline;
}

.biography {
  -webkit-transition-duration: 0.5s, 0s;
          transition-duration: 0.5s, 0s;
  -webkit-transition-property: opacity, outline;
  transition-property: opacity, outline;
  opacity: 0;
  text-align: left;
  color: rgba(27, 27, 27, 0.897);
  font-weight: 500;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.biography:hover {
  color: black;
  opacity: 1;
  outline: 6px solid white;
  background-color: white;
}

@media (max-width: 415px) {
  .champions {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .champions__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
  }
  .player {
    padding: 0;
    height: 300px;
  }
  .player__title {
    font-size: 7px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
  }
  .player__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 90%;
            flex: 1 0 90%;
  }
  .right-navbar {
    margin-top: 10px;
  }
}

.top {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  margin: 0;
  background: url("../img/bg_chess.jpg") center/cover no-repeat;
}

.magnus {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: url("../img/magnus-karlsen-4.jpg") 50% 50%/cover no-repeat;
}

.anand {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: url("../img/vishi.jpg") 40% 30%/cover no-repeat;
}

.kramnik {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background: url("../img/kramnik.jpg") 30% 50%/cover no-repeat;
}

.kasparov {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background: url("../img/GKasparov.jpg") 50% 50%/cover no-repeat;
}

@media (max-width: 955px) {
  .top {
    margin: 0 auto;
  }
  .top__rows {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kasparov,
  .magnus,
  .anand,
  .kramnik {
    background-position: top;
    background-size: contain;
  }
  .champions__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 620px) {
  .biography {
    font-size: 14px;
  }
  .player__title {
    font-size: 15px;
  }
}

@media (max-width: 570px) {
  .biography {
    font-size: 10px;
  }
}

@media (max-width: 415px) {
  .biography {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 20px;
    border: 2px solid black;
  }
}

.menu__title {
  padding: 10px;
  font-family: "Conv_CALIFR";
  text-align: center;
  font-size: 46px;
  font-style: italic;
  color: #850000;
}

.right-navbar {
  margin-top: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.right-navbar__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.right-navbar__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: 2px solid black;
}

.right-navbar__title {
  font-family: " Verdana";
  font-style: italic;
  background-color: rgba(67, 215, 235, 0.719);
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  padding: 12px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.right-navbar__title:hover {
  background-color: orange;
}

.right-navbar__title-1:hover ~ .right-navbar__item-1 {
  display: block;
  background-color: rgba(67, 215, 235, 0.719);
}

.right-navbar__title-2:hover ~ .right-navbar__item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(67, 215, 235, 0.719);
}

.right-navbar__title-3:hover ~ .right-navbar__item-3 {
  display: block;
  background-color: rgba(67, 215, 235, 0.719);
}

.right-navbar__title-4:hover ~ .right-navbar__item-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(67, 215, 235, 0.719);
}

.right-navbar__item {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.right-navbar__text {
  font-size: 16px;
  padding: 10px;
}

.right-navbar__text-4 {
  text-align: right;
}

.right-navbar__img {
  margin: 10px;
}

.right-navbar__img-1 {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 130px;
  height: 130px;
  background: url("../img/right_nav_1.jpg") center/contain no-repeat;
  float: right;
}

.right-navbar__img-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  background: url("../img/right_nav_2.jpg") center/contain no-repeat;
}

.right-navbar__img-3 {
  width: 130px;
  height: 130px;
  float: left;
  background: url("../img/right_nav_3.jpg") center/cover no-repeat;
  margin-bottom: 10px;
}

.right-navbar__img-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  background: url("../img/right_nav_4.jpg") center/cover no-repeat;
  margin-bottom: 10px;
}

@media (max-width: 1172px) {
  .right-navbar__title-1:hover ~ .right-navbar__item-1 {
    display: block;
  }
  .right-navbar__title-3:hover ~ .right-navbar__item-3 {
    display: block;
  }
  .right-navbar__img-1,
  .right-navbar__img-3 {
    float: none;
    width: auto;
  }
}

.news__main-title,
.chess-tasks__title,
.champ-header {
  background-color: #fff;
  padding: 5px 0;
  font-size: 34px;
  color: #850000;
  font-family: " Verdana";
  font-weight: 900;
  font-style: italic;
  position: relative;
  background-color: #fcffe3;
  padding-left: 40px;
}

.news__main-title::before,
.chess-tasks__title::before,
.champ-header::before {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../img/1.png") 0 0/auto 100% no-repeat;
  content: "";
  position: absolute;
  margin-left: -40px;
}

.champ-header {
  border: 4px solid #fcffe3;
  padding-left: 40px;
}

@media (max-width: 594px) {
  .news__main-title,
  .chess-tasks__title,
  .champ-header {
    font-size: 24px;
  }
  .news__main-title::before,
  .chess-tasks__title::before,
  .champ-header::before {
    width: 25px;
    height: 25px;
    top: 25%;
  }
}

.chess-tasks__container {
  width: 100%;
  height: 100%;
  height: 400px;
}

.chess-tasks__columns {
  margin: 0 auto;
  height: 400px;
  background: -webkit-gradient(linear, left top, right top, from(#4c459d), color-stop(36%, #5caa0e), color-stop(72%, #1c05a4), to(#00d4ff));
  background: linear-gradient(90deg, #4c459d 0%, #5caa0e 36%, #1c05a4 72%, #00d4ff 100%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chess-tasks__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
  height: 100%;
  padding: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chess-tasks__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
}

.chess-tasks__img-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.chess-tasks__img1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  background: url("../img/chess1.jpg") center/contain no-repeat;
}

.chess-tasks__img2 {
  background: url("../img/chess2.jpg") center/contain no-repeat;
}

.chess-tasks__img3 {
  background: url("../img/chess3.jfif") center/contain no-repeat;
}

.chess-tasks__img4 {
  background: url("../img/chess4.jpg") center/contain no-repeat;
}

@media (max-width: 893px) {
  .chess-tasks__columns {
    height: 500px;
  }
  .chess-tasks__element {
    height: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media (max-width: 550px) {
  .chess-tasks__columns {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 70%;
    height: 1000px;
  }
  .chess-tasks__element {
    height: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.foot {
  font-style: italic;
  height: 200px;
  padding: 30px;
  font-weight: 600;
  color: white;
}

/*

.submit:active {
	@extend .orange_box;
}
%common_search {
	margin-left: 5px;
	font-size: 20px;
	background-color: #fff;
	height: $height_top_li;
}
.search {
	padding-left: 10px;
	width: 150px;
	// display:block;
	@extend %common_search;
	&:hover {
		background-color: #fff;
		position: none;
	}
}
form .submit {
	width: 80px;
	height: $height_top_li;
	@extend %common_search;
	// padding-left: -10px;
	margin-left: -5px;
	// border: 1px solid black;
	// margin-left: 0;
}




.right_navbar {
	border: 1px solid red;
	margin-top: 150px;
	float: right;
	height: 250px;
}

.right_navbar li {
	a {
		display: block;
		width: 100%;
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}
	font-size: 15px;
	height: 40px;
	background-color: green;
	padding: 5px;
	&:hover {
		color: white;
		background-color: blue;
	}
}

*/
.change-screen-size {
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  height: 30px;
  color: black;
  font-weight: 500;
}

.size-number {
  margin-left: 10px;
  padding-left: 5px;
  font-size: 18px;
  height: 30px;
  width: 120px;
  border: 1px solid black;
}

.news {
  z-index: 0;
  margin: 30px 0;
}

.news__items {
  position: relative;
  width: 100%;
}

.news-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin: -10px;
  padding: 10px;
}

.news-element__img {
  padding: 10px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.news-element__text {
  font-size: 24px;
  line-height: 34px;
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

@media (max-width: 752px) {
  .news-element__text {
    font-size: 20px;
    line-height: 28px;
    padding-top: 35px;
  }
}

@media (max-width: 594px) {
  .news-element__text {
    padding-top: 65px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 432px) {
  .film__img {
    padding-left: 0;
    height: 150px;
  }
  .world-cup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-element__text {
    padding-top: 10px;
    font-size: 12px;
  }
}

@media (max-width: 285px) {
  .news-element__text div {
    display: none;
  }
  .news-element__text {
    font-size: 10px;
    line-height: 16px;
  }
}

@media (max-width: 220px) {
  .news-element__text {
    font-size: 6px;
    line-height: 10px;
  }
}

.film div div span {
  font-weight: bold;
}

.film__img {
  background: url("../img/Royal_game.jfif") center/contain no-repeat;
}

.world-cup__img {
  background: url("../img/match.jpg") center/contain no-repeat;
}

@media (max-width: 310px) {
  .world-cup__img {
    background-position: 35px 0;
  }
}

.item-hidden {
  display: none;
}

.display-none {
  display: none;
}

.btn-color-active {
  background-color: rgba(100, 241, 123, 0.952);
}

.but-nav-bloat-color-passive {
  background-color: rgba(67, 215, 235, 0.719);
}

.but-change {
  position: absolute;
  top: -25px;
  right: 100px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid black;
}

.but-change:hover {
  -webkit-box-shadow: 0 0 5px 4px orange;
          box-shadow: 0 0 5px 4px orange;
}

@media (max-width: 594px) {
  .but-change {
    width: 30px;
    height: 30px;
    right: 60px;
  }
}

@media (max-width: 382px) {
  .but-change {
    right: 20px;
  }
}

@media (max-width: 351px) {
  .but-change {
    top: 20px;
    right: 4px;
  }
}

@media (max-width: 288px) {
  .but-change {
    top: -33px;
    right: 4px;
  }
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 300px;
  width: 100%;
}

.foot__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  font-weight: 600;
  font-size: 28px;
  color: white;
}

.foot__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid black;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foot__element {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  border: 3px solid #0c0c0b;
  padding: 10px;
}

.foot__ul li {
  margin-bottom: 10px;
}

.foot__ul li a {
  font-size: 22px;
  color: #bbb0b0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.foot__ul li a:hover {
  color: #fff;
}

@media (max-width: 659px) {
  .foot {
    height: 600px;
  }
  .foot__element-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .foot__element-2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .foot__element-3 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .foot__title {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .title-1 {
    height: auto;
    margin: 10px 0;
  }
}

@media (max-width: 474px) {
  .foot {
    height: 800px;
  }
  .foot__element {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .foot__title {
    height: auto;
  }
}

@media (max-width: 581px) {
  .title-3,
  .title-2 {
    height: 100px;
  }
  .title-2 {
    padding-top: 35px;
  }
}
