@charset "UTF-8";
@font-face {
  font-family: 'Conv_CALIFR';
  src: url("../fonts/CALIFR.eot");
  src: local("☺"), url("../fonts/CALIFR.woff") format("woff"), url("../fonts/CALIFR.ttf") format("truetype"), url("../fonts/CALIFR.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  padding-left: 3px;
  font-size: 20px;
  font-family: "Conv_CALIFR";
  background-color: white;
  min-width: 1300px;
  height: 2300px;
  margin: 0 auto;
  border: 2px solid red;
}
