@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  color: white;
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  padding-left: 3px;
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: white;
  min-width: 1300px;
  height: 2300px;
  margin: 0 auto;
  border: 2px solid black;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 50px;
}

.navigation {
  position: fixed;
}

.navigation ul {
  margin-top: 200px;
  float: left;
}

.navigation li a {
  color: #47daff;
}

.navigation li a:hover {
  text-transform: uppercase;
}

.navigation ul li {
  width: 170px;
  height: 60px;
  font-weight: 600;
  color: red;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid purple;
  background-color: grey;
  border-radius: 0 10px;
}

.container {
  width: 1200px;
  height: 80%;
}

h1 {
  padding-top: 15px;
  margin-bottom: 15px;
  color: black;
  font-style: italic;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.top-side {
  height: 150px;
  background: grey;
}

.menu__ul li {
  height: 300px;
  border: 1px solid black;
}

.top-side li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: yellow;
}

.top-side li ul li {
  width: 5%;
}

.orange_box, .top-side li:hover, .submit:active {
  background-color: orange;
  -webkit-box-shadow: 0 2px 3px 0 blue;
          box-shadow: 0 2px 3px 0 blue;
}

.top-side li {
  height: 50px;
  font-size: 24px;
  font-style: oblique;
  position: relative;
  padding: 12px;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  background-color: #00aeff;
  float: left;
}

.top-side li:hover {
  background-color: rgba(17, 178, 199, 0.342);
  color: blue;
  font-weight: 700;
  position: relative;
  top: 2px;
  left: 2px;
}

.top-side li:hover {
  background: orange;
}

.top-side li:hover ul {
  display: block;
  background: grey;
}

.search, form .submit {
  margin-left: 5px;
  font-size: 20px;
  background-color: #fff;
  height: 50px;
}

.search {
  padding-left: 10px;
  width: 150px;
}

.search:hover {
  background-color: #fff;
  position: none;
}

form .submit {
  width: 80px;
  height: 50px;
  margin-left: -5px;
}

.right-navbar {
  width: 300px;
  height: 500px;
  float: right;
  margin: 30px;
  margin-top: -20px;
  margin-right: 220px;
}

.bottom-side {
  height: 800px;
  padding-top: 30px;
  background: url("../img/bg_chess.jpg") 0 0/cover no-repeat;
}

.bottom-side__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  width: 100%;
  height: 100%;
  position: relative;
}

.bottom-side__item {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  background-color: grey;
  height: 50px;
  font-size: 20px;
  padding: 8px;
  text-align: center;
}

.bottom-side__item a {
  color: white;
}

.bottom-side__item a:active {
  color: blue;
}

.bottom-side__item_1:hover {
  background-color: rgba(128, 0, 128, 0.493);
}

.bottom-side__item_1:hover ~ .bottom-side__item_2 {
  display: block;
  position: absolute;
  bottom: 100px;
}

.bottom-side__item_1:hover ~ .bottom-side__item_3 {
  display: block;
  position: absolute;
  bottom: 50px;
}

.bottom-side__item_1:hover ~ .bottom-side__item_4 {
  display: block;
  position: absolute;
  bottom: 0;
}

.bottom-side__item_2:hover {
  background-color: rgba(128, 0, 128, 0.493);
}

.bottom-side__item_2:hover ~ .bottom-side__item_3 {
  display: block;
  position: absolute;
  bottom: 50px;
}

.bottom-side__item_2:hover ~ .bottom-side__item_4 {
  display: block;
  position: absolute;
  bottom: 0;
}

.bottom-side__item_3:hover {
  background-color: rgba(128, 0, 128, 0.493);
}

.bottom-side__item_3:hover ~ .bottom-side__item_4 {
  display: block;
  position: absolute;
  bottom: 0;
}

.bottom-side__item_4:hover {
  background-color: rgba(128, 0, 128, 0.493);
}

.bottom-side__item_4:hover ~ .bottom-side__item_5 {
  display: block;
}

.bottom-side__item_1, .bottom-side__item_2, .bottom-side__item_3, .bottom-side__item_4 {
  border: 2px solid black;
  -webkit-box-shadow: 1px 0px 7px 3px orange;
          box-shadow: 1px 0px 7px 3px orange;
  background-color: rgba(49, 185, 49, 0.466);
}

.bottom-side__item_1:hover, .bottom-side__item_2:hover, .bottom-side__item_3:hover, .bottom-side__item_4:hover {
  text-decoration: underline;
}

.bottom-side__item_1__text, .bottom-side__item_2__text, .bottom-side__item_3__text, .bottom-side__item_4__text {
  display: none;
}

.bottom-side__item_5 {
  -webkit-box-flex: 0.9999;
      -ms-flex-positive: 0.9999;
          flex-grow: 0.9999;
  text-align: left;
}

.bottom-side__item_5__text {
  display: none;
}

.bottom-side__item_5:hover {
  display: block;
}

.bottom-side__item1-pic, .bottom-side__item3-pic {
  display: block;
  height: 200px;
  width: 50%;
  border: 2px solid yellow;
  float: right;
  background: url("../img/jacket.jpg") right/cover no-repeat;
}

.bottom-side__item2-pic, .bottom-side__item4-pic {
  display: block;
  height: 200px;
  width: 50%;
  border: 2px solid yellow;
  float: right;
  background: url("../img/zakat.jpg") right/cover no-repeat;
}

.bottom-side__item1-text, .bottom-side__item2-text, .bottom-side__item3-text, .bottom-side__item4-text {
  text-align: left;
}

.bottom-side__container-item1, .bottom-side__container-item2,
.bottom-side__container-item3, .bottom-side__container-item4 {
  display: none;
}

.bottom-side__item_1:hover ~ .bottom-side__container-item1 {
  display: block;
  background-color: #77df77;
  height: 400px;
}

.bottom-side__item_2:hover ~ .bottom-side__container-item2 {
  display: block;
  background-color: #77df77;
  height: 400px;
}

.bottom-side__item_3:hover ~ .bottom-side__container-item3 {
  display: block;
  background-color: #77df77;
  height: 400px;
}

.bottom-side__item_4:hover ~ .bottom-side__container-item4 {
  display: block;
  background-color: #77df77;
  height: 400px;
}

.bottom-side__item_2:hover + .bottom-side__item_4 {
  display: block;
  position: absolute;
  bottom: 0;
}

.bottom-side__item_2:hover + .bottom-side__item_4 a {
  font-size: 500px/25px;
}

.Players {
  font-size: 20px;
  display: inline-block;
  width: 275px;
  height: 300px;
  max-width: 200%;
  color: black;
  overflow: hidden;
  margin-left: 30px;
}

h2 {
  margin-left: 12.5px;
  color: #c00912;
  font-weight: 600;
}

h2:hover {
  text-decoration: underline;
}

.span-pl {
  display: inline-block;
  overflow: visible;
  margin-left: 12.5px;
  margin-top: 20px;
  width: 250px;
  height: 240px;
  border: 5px solid red;
}

.Magnus {
  background: url("../img/magnus-karlsen-4.jpg") 50% 50%/cover no-repeat;
}

.Anand {
  background: url("../img/vishi.jpg") 50% 50%/cover no-repeat;
}

.Kramnik {
  background: url("../img/kramnik.jpg") 50% 50%/cover no-repeat;
}

.span-pl:hover {
  -webkit-box-shadow: 0 0 10px 5px rgba(40, 114, 224, 0.623);
          box-shadow: 0 0 10px 5px rgba(40, 114, 224, 0.623);
}

.boigraphy {
  height: 100%;
  opacity: 0;
  text-align: left;
  color: rgba(27, 27, 27, 0.897);
  padding: 3%;
  font-size: 14px;
}

.boigraphy:hover {
  color: black;
  font-weight: 600;
  opacity: 0.8;
  background-color: white;
}

h3 {
  max-width: 1300px;
  height: 25px;
  background: url("../../img/1.png") 0 1px/contain no-repeat;
  padding-left: 30px;
  margin: 20px;
  margin-top: 45px;
  margin-bottom: 30px;
  font-size: 30px;
  color: black;
  text-align: left;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10px;
}

.news {
  height: 400px;
  width: 1200px;
  font-size: 25px;
  line-height: 1.5;
  font-weight: 500;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}

.news-elements {
  border: 2px solid grey;
  height: 100%;
  background-color: grey;
}

.news-elements h2 {
  font-style: 40px;
  text-align: center;
}

.news-elements__film {
  height: 100%;
  max-width: 900px;
  background: url("../img/Royal_game.jfif") 50px 0/contain no-repeat;
  line-height: 25px;
  padding-left: 400px;
  padding-top: 50px;
}

.news-elements__film:active {
  display: none;
}

.news-elements__film:active + .news-elements__world-cup {
  display: block;
}

.news-elements__film div span {
  font-weight: bold;
}

.news-elements__world-cup {
  max-width: 1100px;
  padding-top: 50px;
  display: none;
  height: 100%;
  background-color: black;
  background: url("../img/match.jpg") 50px 50%/45% auto no-repeat;
  padding-left: 650px;
}

.right_navbar {
  border: 1px solid red;
  margin-top: 150px;
  float: right;
  height: 250px;
}

.right_navbar li {
  font-size: 15px;
  height: 40px;
  background-color: green;
  padding: 5px;
}

.right_navbar li a {
  display: block;
  width: 100%;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.right_navbar li:hover {
  color: white;
  background-color: blue;
}

.chess-tasks__container {
  width: 100%;
  height: 300px;
  border: 2px solid black;
  padding-left: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#4c459d), color-stop(36%, #5caa0e), color-stop(72%, #1c05a4), to(#00d4ff));
  background: linear-gradient(90deg, #4c459d 0%, #5caa0e 36%, #1c05a4 72%, #00d4ff 100%);
}

.chess-tasks__columns {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chess-tasks__column1 {
  width: 23%;
  height: 100%;
  background: url("../img/chess1.jpg") 0 0/contain no-repeat;
  text-align: bottom;
}

.chess-tasks__column2 {
  width: 23%;
  height: 100%;
  background: url("../img/chess2.jpg") 0 0/contain no-repeat;
  text-align: bottom;
}

.chess-tasks__column3 {
  width: 23%;
  height: 100%;
  background: url("../img/chess3.jfif") 0 0/contain no-repeat;
  text-align: bottom;
}

.chess-tasks__column4 {
  width: 23%;
  height: 100%;
  background: url("../img/chess4.jpg") 0 0/contain no-repeat;
  text-align: bottom;
}

.foot {
  font-style: italic;
  background-color: grey;
  height: 200px;
  width: 1200px;
  margin-left: 150px;
  padding: 30px;
  font-weight: 600;
  color: white;
}
