@charset "UTF-8";
@font-face {
  font-family: "Conv_CALIFR";
  src: url("../fonts/CALIFR.eot");
  src: local("☺"), url("../fonts/CALIFR.woff") format("woff"), url("fonts/CALIFR.ttf") format("truetype"), url("fonts/CALIFR.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.inside-menu {
  position: relative;
  z-index: 1;
  position: relative;
}

.inside-menu:hover .inside-menu__row {
  background-color: rgba(67, 215, 235, 0.719);
  color: blue;
  font-weight: 700;
  position: absolute;
  top: 33px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inside-menu__row {
  display: none;
}

.inside-menu__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.inside-menu__element {
  margin-top: 1px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35px;
          flex: 1 1 35px;
  padding: 8px 0;
  outline: 1px solid black;
  background-color: rgba(67, 215, 235, 0.719);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.orange_box, .hover-func, .inside-menu__element:hover, .menu__element:hover {
  background-color: orange;
  -webkit-box-shadow: 0 2px 3px 0 blue;
          box-shadow: 0 2px 3px 0 blue;
}

.top-side {
  margin: 40px 0;
  background: grey;
}

.hover-func, .inside-menu__element:hover, .menu__element:hover {
  background-color: rgba(17, 178, 199, 0.342);
  color: blue;
  position: relative;
  top: 2px;
  left: 2px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: all;
  transition-property: all;
  background: orange;
  font-family: "Conv_CALIFR";
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__bar {
  width: 90%;
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 10px;
}

.menu__bar__panel div {
  display: none;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.menu__element {
  height: 35px;
  padding: 5px 5px;
  background-color: rgba(67, 215, 235, 0.719);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid black;
  margin-right: 0px;
  font-style: italic;
}

.menu__element a {
  color: blue;
  font-weight: 100;
  font-family: "Conv_CALIFR";
  font-size: 24px;
}
