.navigation {
	margin-top: 200px;
	border-radius: 0 10px;
	content: "";
	background-color: $bgColor;
	opacity: 0.9;
	z-index: 10;
	
	// position: sticky;
	position: fixed;
	padding: 3px;
	right: 1%;
	// display: block;
	// border: 1px solid black;
	&:hover {
		background-color: black;

		ul {
			display: block;
		}
		.but-nav-float {
			display: none;
		}
	}
	// &__row{
	// }
}

.but-nav-bloat {
	font-size: 20px;
}
.navigation ul {
	z-index: 0;

	display: none;

	// margin-top: 20px;
	// float: right;
}
.navigation li a {
	font-size: 20px;
	color: rgb(71, 218, 255);
	// padding: 0 20px;
	// transition-duration: 1s;
	&:hover {
		text-transform: uppercase;
	}
}
.navigation ul li {
	width: 200px;
	// height: 60px;
	font-weight: 600;
	// color: red;
	padding: 10px;
	margin-bottom: 5px;
	border: 2px solid purple;
	// background-color: grey;
	border-radius: 0 10px;
}

.but-nav-float {
	z-index: 49;

	position: absolute;
	top: 3px;
	// right: 10px;
	background-color: black;
	color: white;
	font-weight: 700;
	right: 30px;
	width: 60px;
	height: 60px;
	// background-color: $inside-menu-bgcolor;
	border-radius: 50%;
	border: 2px solid black;
	&:hover {
		display: none;
		+ .container ul {
			display: block;
		}
		box-shadow: 0 0 5px 4px orange;
	}
}