
$f-bas: 200px;
$img_wid: 130px;
.right-navbar {
	margin-top: 30px;
	flex: 0 1 25%;
	// border: 10px solid grey;
	&__column {
		display: flex;
		flex-direction: column;
		// border: 10px solid yellow;
		flex: 0 1 auto;
	}

	&__row {
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		outline: 2px solid black;
	}

	&__title {
		// font-family: "Conv_CALIFR";
		font-family: " Verdana";
		font-style: italic;
		// background-color: #77df77;
		background-color: $inside-menu-bgcolor;
		font-weight: 600;
		font-size: 22px;
		text-align: center;
		padding: 12px;
		transition-duration: $time-delay-main;

		&:hover {
			background-color: orange;
			// background: rgba(128, 0, 128, 0.);
		}

		&-1:hover ~ .right-navbar__item-1 {
			display: block;
			background-color: $inside-menu-bgcolor;
			// background-color: rgba(0, 233, 233, 0.719);
			// background-color: $inside-menu-bgcolor;
		}

		// .right-navbar {
		&-2:hover ~ .right-navbar__item-2 {
			display: flex;
			background-color: $inside-menu-bgcolor;
		}

		&-3:hover ~ .right-navbar__item-3 {
			display: block;
			background-color: $inside-menu-bgcolor;
		}
		&-4:hover ~ .right-navbar__item-4 {
			display: flex;
			background-color: $inside-menu-bgcolor;
		}
	}

	&__item {
		transition-duration: $time-delay-main;

		// display: flex;
		// flex: 1 1 auto;
		// width: 100%;
		// border: 4px solid gold;
		// background-color: red;
		display: flex;
		// height: 600px;
		border: 1px solid black;
		flex-direction: column;
		// &_1 {
		// width: 100%;
		// display: flex;
		// display: block;
		// }
		display: none;
	}
	&__text {
		font-size: 16px;
		padding: 10px;
		&-4 {
			text-align: right;
			// text-align:center;
		}
	}

	&__img {
		margin: 10px;
		&-1 {
			// background: url("../img/zakat.jpg") right / cover no-repeat;
			// float: right;
			// flex: 0 0 $f-bas;
			// flex: 0 0 100%;
			// border: 2px solid green;
			transition-duration: 1s;

			width: $img_wid;
			height: $img_wid;
			background: url("../img/right_nav_1.jpg") center / contain no-repeat;
			float: right;
			// float: left;
			// margin-bottom: 10px;
		}
		&-2 {
			flex: 0 0 $f-bas;
			background: url("../img/right_nav_2.jpg") center / contain no-repeat;
		}

		&-3 {
			width: $img_wid;
			height: $img_wid;
			float: left;
			// flex: 0 0 $f-bas;
			// height: auto;
			background: url("../img/right_nav_3.jpg") center / cover no-repeat;
			margin-bottom: 10px;
		}

		&-4 {
			flex: 0 0 $f-bas;
			background: url("../img/right_nav_4.jpg") center / cover no-repeat;
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 1172px) {
	.right-navbar__title-1:hover ~ .right-navbar__item-1 {
		display: block;
	}
	.right-navbar__title-3:hover ~ .right-navbar__item-3 {
		display: block;
	}

	.right-navbar__item-1,
	.right-navbar__item-3 {
		// display: block;
		// flex-direction: column;
	}
	.right-navbar__img-1,
	.right-navbar__img-3 {
		float: none;
		width: auto;
		// width: 100px;
		// height: 100px;
	}
}

