@font-face {
	font-family: "Conv_CALIFR";
	src: url("../fonts/CALIFR.eot");
	src: local("☺"), url("../fonts/CALIFR.woff") format("woff"), url("../fonts/CALIFR.ttf") format("truetype"),
		url("../fonts/CALIFR.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@mixin bord($width: 2px, $color: black) {
	border: $width solid $color;
}
// .menu, .menu__bar{

// width: 100%;
// }
// .menu__row{
// width: 100%;
// position: relative;
// }

//todo с пом space between развести в стороны бургер и меню вверху
//todo можно  "шахматы" сделать на одном уровне с бургером после 767 px, а потом меню выставить под полоской, в которой бургер и "шахматы"
.menu__burger {
	// position: absolute;
	// right: 0;
	display: none;
	margin-left: 25px;
	min-width: 35px;
	min-height: 35px;
}
@media (max-width: 767px) {
	$burg-height: 35px;

	.menu__burger {
		display: block;
		position: relative;
		right: 0;
		width: 35px;
		height: 35px;
		&:before,
		&:after {
			content: "";
			background-color: rgb(0, 0, 0);
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		span {
			background-color: rgb(0, 0, 0);
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			top: $burg-height/2;
		}
	}
}

@import "_nullstyle.scss";
// @import "right_nb.scss";
@import "_top-side.scss";
// @import "_news.scss"
$time-delay-main: 0.5s;

$bgColor: rgb(252, 255, 227);
body {
	background-color: $bgColor;
	// padding: 30px;
	// padding-left: 3px;
	// padding-left: 5%;
	font-size: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	// font-family: "Conv_CALIFR";
	// font-family: Helvetica;
	// background-color: white;
	// min-width: 1300px;
	max-width: 1300px;
	// min-height: 2300px;
	// height: 2500px;
	margin: 0 auto;
	// border: 2px solid red;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	margin: 0 20px;
}

.container {
	margin: 0 auto;
	max-width: 1400px;
	// widt

	// margin-left: 150px;

	max-width: 1200px;
	width: 100%;
	height: 100%;
	// height:80%;
	@include bord(3px, green);

	// border: 2px solid purple;
}

@media (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}

.navigation {
	margin-top: 20px;
	border-radius: 0 10px;
	content: "";
	z-index: 1;
	background-color: black;
	opacity: 0.9;
	// position: sticky;
	position: fixed;
	padding: 3px;
	right: 1%;
	// border: 1px solid black;
	&:hover {
		ul {
			display: block;
		}
		.but-nav-bloat {
			display: none;
		}
	}
	// &__row{
	// }
}

.but-nav-bloat {
	font-size: 20px;
}
.navigation ul {
	display: none;

	// margin-top: 20px;
	// float: right;
}
.navigation li a {
	font-size: 20px;
	color: rgb(71, 218, 255);
	// padding: 0 20px;
	&:hover {
		text-transform: uppercase;
	}
}
.navigation ul li {
	width: 200px;
	// height: 60px;
	font-weight: 600;
	// color: red;
	padding: 10px;
	margin-bottom: 5px;
	border: 2px solid purple;
	// background-color: grey;
	border-radius: 0 10px;
}

.but-nav-bloat {
	position: absolute;
	top: 3px;
	// right: 10px;
	background-color: black;
	color: white;
	font-weight: 700;
	right: 30px;
	width: 60px;
	height: 60px;
	// background-color: $inside-menu-bgcolor;
	border-radius: 50%;
	border: 2px solid black;
	&:hover {
		display: none;
		+ .container ul {
			display: block;
		}
		box-shadow: 0 0 5px 4px orange;
	}
}

.top-side {
	@include bord(3px, red);
}


$wid_1: 10px;

$height_top_li: 5 * $wid_1;

//! top-side
.top {
	// border: 3px solid red;

	// display:flex;
	// flex-direction: column;
	margin-top: 10px;
	width: 100%;
	&__rows {
		width: 100%;

		// border: 3px solid green;
		// flex-shrink: 1;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	&__column {
		flex: 0 1 50%;

		// border: 3px solid red;
	}
	// &__element{
	// }
}

// @media (max-width: 777px) {
// 	.top__rows {
// 		flex-direction: column;
// 	}
// }
@media (max-width: 697px) {
	.menu__element {
		height: 60px;
		// font-size: 50px;
		// padding: 0;
		&:first-child,
		&:last-child {
			padding-top: 18px;
		}
	}
}

//todo  Последние новости: текст вылезает за пределы. Надо либо изменить высоту блока, либо уменьшить шрифт

.champions {
	flex: 0 1 60%;
	// flex: 1 1 auto;
	// border: 4px solid yellow;
	// justify-content: space-evenly;
	&__rows {
		// width:
		display: flex;
		flex-wrap: wrap;
		margin: 10px -10px;
		justify-content: space-evenly;
	}

	&__column {
		// height: 100%;
		display: flex;
		padding: 10px 10px;
		// margin: 5px;
		flex-direction: column;
		// display: flex
		flex: 0 1 45%;
		// border: 2px solid green;
		// align-self: baseline;
	}

	// &__element {
	// 	// display: flex;
	// }
}

.player {
	&__text {
		display: flex;
		border: 2px solid gold;

		padding: 5px;
		// margin: 5px;
		// border: 2px solid black;
		&:hover {
			box-shadow: 0 0 10px 5px rgba(40, 114, 224, 0.623);
		}
	}
	&__title {
		font-size: 24px;
		&:hover {
			text-decoration: underline;
		}
		text-align: center;
		// color: rgb(19, 0, 190);
		color: rgb(255, 0, 0);

		font-weight: 700;
		margin-bottom: 5px;
	}
}

.biography {
	// height: 100%;
	transition-duration: 0.5s, 0s;
	transition-property: opacity, outline;
	opacity: 0;
	text-align: left;
	color: rgba(27, 27, 27, 0.897);
	// padding: 3%;
	// padding: 30px;
	// font-size: 14px;
	font-weight: 500;
	width: 100%;
	height: 100%;
	flex: 0 0 auto;
	&:hover {
		color: black;
		// opacity: 0.8;
		opacity: 1;
		outline: 6px solid white;
		background-color: white;
	}
}

@media (max-width: 415px) {
	.champions {
		justify-content: space-evenly;
		&__column {
			// width: 60%;

			flex: 1 1 60%;
		}
	}

	.player {
		padding: 0;
		height: 300px;
		&__title {
			// @include bord(5px, red);
			// @include bord;
			font-size: 7px;
			flex: 0 0 10%;
			// margin: 0;
		}
		&__text {
			flex: 1 0 90%;
			// @include bord($color: red);
		}
	}

	.right-navbar {
		margin-top: 10px;
	}
}
// .player-1,
// .player-2,
// .player-3,
// .player-4 {
// 	// position: relative;
// }

// .top-side {
// .menu__row {
.top {
	// width: 90%;
	height: 100%;
	// width: 95%;
	margin: 0 auto;
	padding: 0;
	margin: 0;
	// border: 2px solid black;
	// background: url("../img/bg_chess.jpg") center / 100% 100% no-repeat fixed;
	// background: url("../img/bg_chess.jpg") center / contain no-repeat fixed;
	// opacity: 0.7;
	// border: 2px solid black;
	// background: url("../img/bg_chess.jpg") center / cover no-repeat fixed;
	background: url("../img/bg_chess.jpg") center / cover no-repeat;
}

.top-side .container {
	// border-top: 15px solid $bgColor;
}
.magnus {
	// overflow: scroll;

	// align-self: baseline;
	// justify-self: baseline;
	flex: 1 1 auto;
	background: url("../img/magnus-karlsen-4.jpg") 50% 50% / cover no-repeat;
}

.anand {
	// overflow: scroll;

	// border: 2px solid gold;
	flex: 1 1 auto;
	// background: url("../img/vishi.jpg") 25% 50% / cover no-repeat;
	background: url("../img/vishi.jpg") 40% 30% / cover no-repeat;
	// background: url("../img/vishi.jpg") 50% 50% / cover no-repeat;
}

.kramnik {
	flex: 1 1 100%;
	background: url("../img/kramnik.jpg") 30% 50% / cover no-repeat;
	// background: url("../img/kramnik.jpg") 50% 50% / cover no-repeat;
}
.kasparov {
	flex: 1 1 100%;
	background: url("../img/GKasparov.jpg") 50% 50% / cover no-repeat;
}

@media (max-width: 955px) {
	.top {
		margin: 0 auto;
		&__rows {
			flex-direction: column;
			// justify-content: space-evenly;
		}
	}
	.kasparov,
	.magnus,
	.anand,
	.kramnik {
		// justify-self: top;
		// position: absolute;
		// top: 0;
		// float: top;
		background-position: top;
		background-size: contain;
		// background-size: auto 100%;
		// background-size: 100% auto;
		// background-size: 100% 100%;
	}
	.champions {
		&__column {
			// height: 100%;
			display: flex;
			// padding: 10px 10px;
			// margin: 5px;
			flex-direction: column;
			// display: flex
			// flex: 1 1 50%;
			// flex: 0 0 40%;
			// padding: 30px;
		}
		// &__rows {
		// 	// margin: -30px;
		// }
		//12
	}
}

@media (max-width: 620px) {
	// .kasparov,
	// .magnus,
	// .anand,
	// .kramnik {
	// 	// width: 100%;
	// 	// flex: 1 1 100%;
	// }
	.biography {
		// font-size: 20px;
		font-size: 14px;
	}
	.player__title {
		font-size: 15px;
	}
}

@media (max-width: 570px) {
	.biography {
		// font-size: 20px;
		font-size: 10px;
	}
}
@media (max-width: 415px) {
	.biography {
		display: inline-flex;
		text-align: center;
		align-self: center;
		font-size: 20px;
		@include bord;
	}
}

.menu__title {
	padding: 10px;
	font-family: "Conv_CALIFR";
	text-align: center;
	font-size: 46px;
	font-style: italic;
	color: rgb(133, 0, 0);
}
$f-bas: 200px;
$img_wid: 130px;
.right-navbar {
	margin-top: 30px;
	flex: 0 1 25%;
	// border: 10px solid grey;
	&__column {
		display: flex;
		flex-direction: column;
		// border: 10px solid yellow;
		flex: 0 1 auto;
	}

	&__row {
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		outline: 2px solid black;
	}

	&__title {
		// font-family: "Conv_CALIFR";
		font-family: " Verdana";
		font-style: italic;
		// background-color: #77df77;
		background-color: $inside-menu-bgcolor;
		font-weight: 600;
		font-size: 22px;
		text-align: center;
		padding: 12px;
		transition-duration: $time-delay-main;

		&:hover {
			background-color: orange;
			// background: rgba(128, 0, 128, 0.);
		}

		&-1:hover ~ .right-navbar__item-1 {
			display: block;
			background-color: $inside-menu-bgcolor;
			// background-color: rgba(0, 233, 233, 0.719);
			// background-color: $inside-menu-bgcolor;
		}

		// .right-navbar {
		&-2:hover ~ .right-navbar__item-2 {
			display: flex;
			background-color: $inside-menu-bgcolor;
		}

		&-3:hover ~ .right-navbar__item-3 {
			display: block;
			background-color: $inside-menu-bgcolor;
		}
		&-4:hover ~ .right-navbar__item-4 {
			display: flex;
			background-color: $inside-menu-bgcolor;
		}
	}

	&__item {
		transition-duration: $time-delay-main;

		// display: flex;
		// flex: 1 1 auto;
		// width: 100%;
		// border: 4px solid gold;
		// background-color: red;
		display: flex;
		// height: 600px;
		border: 1px solid black;
		flex-direction: column;
		// &_1 {
		// width: 100%;
		// display: flex;
		// display: block;
		// }
		display: none;
	}
	&__text {
		font-size: 16px;
		padding: 10px;
		&-4 {
			text-align: right;
			// text-align:center;
		}
	}

	&__img {
		margin: 10px;
		&-1 {
			// background: url("../img/zakat.jpg") right / cover no-repeat;
			// float: right;
			// flex: 0 0 $f-bas;
			// flex: 0 0 100%;
			// border: 2px solid green;
			transition-duration: 1s;

			width: $img_wid;
			height: $img_wid;
			background: url("../img/right_nav_1.jpg") center / contain no-repeat;
			float: right;
			// float: left;
			// margin-bottom: 10px;
		}
		&-2 {
			flex: 0 0 $f-bas;
			background: url("../img/right_nav_2.jpg") center / contain no-repeat;
		}

		&-3 {
			width: $img_wid;
			height: $img_wid;
			float: left;
			// flex: 0 0 $f-bas;
			// height: auto;
			background: url("../img/right_nav_3.jpg") center / cover no-repeat;
			margin-bottom: 10px;
		}

		&-4 {
			flex: 0 0 $f-bas;
			background: url("../img/right_nav_4.jpg") center / cover no-repeat;
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 1172px) {
	.right-navbar__title-1:hover ~ .right-navbar__item-1 {
		display: block;
	}
	.right-navbar__title-3:hover ~ .right-navbar__item-3 {
		display: block;
	}

	.right-navbar__item-1,
	.right-navbar__item-3 {
		// display: block;
		// flex-direction: column;
	}
	.right-navbar__img-1,
	.right-navbar__img-3 {
		float: none;
		width: auto;
		// width: 100px;
		// height: 100px;
	}
}
// .img-1 {
// 	border: 3px solid red;
// 	// flex: 0 1 50%;
// 	width: 50%;
// }

// $film_wid: 200px;

// margin-top: 40px;

.news__main-title,
.chess-tasks__title,
.champ-header {
	background-color: #fff;
	padding: 5px 0;
	// margin-bottom: 10px;
	font-size: 34px;
	// color: black;
	// color: rgb(255, 255, 255);
	// color: rgb(47, 0, 255);
	color: rgb(133, 0, 0);
	font-family: " Verdana";

	font-weight: 900;
	// border: 2px solid grey;
	font-style: italic;
	// background: url("../../img/1.png") 0 4px / contain no-repeat;
	position: relative;
	background-color: $bgColor;
	&::before {
		// display: block;
		width: 35px;
		height: 35px;
		// background: url("../../img/1.png") 0 5px / 100% auto no-repeat;
		// border: 1px solid black;
		border-radius: 50%;
		overflow: hidden;
		background: url("../img/1.png") 0 0 / auto 100% no-repeat;
		// background: url("../../img/1.png") 0 5px / cover no-repeat;
		content: "";
		// background-image: url('../img/1.png');
		position: absolute;
		// left: 50%;
		margin-left: -40px;
		// margin-top: 7px;
		// top: -0px;
	}
	padding-left: 40px;

	// font-size: 34px;champ-heade
}

.champ-header {
	// position: none;
	// width: 100%;
	// width: 1400px;
	// padding-left: 12px;
	// border: 1px solid black;
	// padding: 0;
	// margin: 0;
	// margin-top: -0.5px;
	// outline: 4px solid $bgColor;
	border: 4px solid $bgColor;
	padding-left: 40px;
	// margin-bottom: 20px;
}
@media (max-width: 594px) {
	.news__main-title,
	.chess-tasks__title,
	.champ-header {
		font-size: 24px;
		&::before {
			// display: block;
			width: 25px;
			height: 25px;
			top: 25%;
		}
	}
	// .champ-header {
	// margin-bottom: 100px;
	// }
}
// .chess-tasks__title::before,
// .champ-header::before {
// 	// margin-top: 0px;
// 	// top: -3px;
// 	// top: 0px;
// 	// left: 0;
// }
//! top-side

@mixin chess-task_($name_pict) {
	// width: 23%;
	// height: 100%;
	// background: url("../../img/chess1.jpg") 0 0 /cover no-repeat;
	background: url($name_pict) center / contain no-repeat;
	// text-align: bottom;
}
.chess-tasks {
	// margin-bottom: 20px;\
	// display: flex;
	// border: 2px solid gold;
	&__container {
		// width: 800px;
		width: 100%;
		height: 100%;
		// width: 1300px;
		// display: flex;
		// align-content: flex-end;
		// align-content: center;
		// justify-content: center;
		height: 400px;
		// border: 4px solid black;
		// padding-left: 30px;
		// background: linear-gradient(90deg, rgba(3,0,36,1) 1%, rgba(9,121,45,0.7932692307692308) 27%, rgba(209,14,19,1) 51%, rgba(28,5,164,1) 72%, rgba(0,212,255,1) 100%);
	}
	&__columns {
		margin: 0 auto;
		height: 400px;
		background: linear-gradient(
			90deg,
			rgba(76, 69, 157, 1) 0%,
			rgba(92, 170, 14, 1) 36%,
			rgba(28, 5, 164, 1) 72%,
			rgba(0, 212, 255, 1) 100%
		);
		width: 100%;
		// width: 1000px;
		display: flex;
		// flex-direction: column;
		height: 250px;
		flex-wrap: wrap;
		// flex: 1 0 25%;

		// justify-content: space-around;
		align-content: center;
		// align-self: center;
		// border: 3px solid red;
		justify-content: space-around;
	}
	&__element {
		display: flex;
		flex-direction: column;
		// flex-wrap: wrap;
		flex: 1 1 15%;
		height: 100%;
		// border: 2px solid green;
		padding: 10px;
		// margin: 10px;
		justify-content: space-around;
	}

	&__img {
		flex: 0 1 80%;

		&-title {
			flex: 0 1 10%;
			text-transform: uppercase;
			// border: 2px solid grey;
			text-align: center;
			font-size: 20px;
			color: white;
			font-weight: 600;
			// display: flex;
			// align-self: center;
			// justify-self: center;
			// padding-top: 5px;
		}
	}

	&__img1 {
		// height: 100%;
		flex: 0 1 80%;
		// width: 200px;
		// background: url("../../img/chess1.jpg") 0 0 /cover no-repeat;
		// background: url("../img/chess1.jpg") 0 0 /contain no-repeat;
		@include chess-task_("../img/chess1.jpg");
	}
	&__img2 {
		@include chess-task_("../img/chess2.jpg");
	}
	&__img3 {
		@include chess-task_("../img/chess3.jfif");
	}
	&__img4 {
		@include chess-task_("../img/chess4.jpg");
	}
}
@media (max-width: 1172px) {
	.right-navbar__item-1,
	.right-navbar__item-3 {
		// display: block;
		// flex-direction: column;
	}
}
@media (max-width: 893px) {
	.chess-tasks {
		&__columns {
			height: 500px;
		}
		&__element {
			height: 50%;
			flex: 0 1 40%;
		}
	}
}

@media (max-width: 550px) {
	.chess-tasks {
		&__columns {
			align-self: center;
			width: 70%;
			height: 1000px;
		}
		&__element {
			height: 25%;
			flex: 0 1 100%;
		}
	}
}
// @media (max-width: 700px) {
// 	.chess-tasks__columns {
// 		flex-direction: column;
// 	}
// 	.chess-tasks__container {
// 		height: 900px;
// 	}
// }
.foot {
	font-style: italic;
	// background-color: grey;
	height: 200px;
	// width: 100%;
	// width: 1200px;
	// margin-left: 150px;
	padding: 30px;
	font-weight: 600;
	color: white;
}

// .menu ul .button:nth-child(2){
// .menu li a:nth-child(odd){
// .menu ul li a:nth-child(odd){
// background-color: black;
// color:green;
// font-size: 30px;
// }

/*

.submit:active {
	@extend .orange_box;
}
%common_search {
	margin-left: 5px;
	font-size: 20px;
	background-color: #fff;
	height: $height_top_li;
}
.search {
	padding-left: 10px;
	width: 150px;
	// display:block;
	@extend %common_search;
	&:hover {
		background-color: #fff;
		position: none;
	}
}
form .submit {
	width: 80px;
	height: $height_top_li;
	@extend %common_search;
	// padding-left: -10px;
	margin-left: -5px;
	// border: 1px solid black;
	// margin-left: 0;
}




.right_navbar {
	border: 1px solid red;
	margin-top: 150px;
	float: right;
	height: 250px;
}

.right_navbar li {
	a {
		display: block;
		width: 100%;
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}
	font-size: 15px;
	height: 40px;
	background-color: green;
	padding: 5px;
	&:hover {
		color: white;
		background-color: blue;
	}
}

*/

.change-screen-size {
	margin: 10px;
	padding: 5px;
	font-size: 20px;
	height: 30px;
	color: black;
	font-weight: 500;
}
.size-number {
	margin-left: 10px;
	padding-left: 5px;
	font-size: 18px;
	height: 30px;
	width: 120px;
	border: 1px solid black;
}

//! news

//! news
.news {
	z-index: 0;
	margin: 30px 0;
	// background-color: grey;
	// &__main-title {
	// }

	&__items {
		position: relative;

		width: 100%;
		// border: 24px solid brown;
	}
}
.news-element {
	// transition-duration: ;
	display: flex;
	// border: 3px solid green;
	height: 300px;

	margin: -10px;
	padding: 10px;
	&__img {
		padding: 10px;
		// border: 2px solid black;
		width: 300px;
		// width: 100%;
		// height: 200px;
		// height: 100%;
		display: flex;
		// border: 2px solid black;
		flex: 0 0 40%;
	}
	&__text {
		font-size: 24px;
		line-height: 34px;
		padding: 20px;
		flex: 0 1 70%;
	}
}

@media (max-width: 752px) {
	.news-element__text {
		font-size: 20px;
		line-height: 28px;
		padding-top: 35px;
	}
}
@media (max-width: 594px) {
	.news-element__text {
		padding-top: 65px;
		font-size: 14px;
		line-height: 20px;
	}
}
@media (max-width: 432px) {
	.film__img {
		padding-left: 0;
		// flex: 1 1 100%;
		height: 150px;
	}
	.world-cup {
		flex-direction: column;
	}
	.news-element {
		&__text {
			padding-top: 10px;
			font-size: 12px;
		}
	}
}
@media (max-width: 285px) {
	.news-element__text div {
		display: none;
	}
	.news-element__text {
		font-size: 10px;
		line-height: 16px;
	}
}

@media (max-width: 220px) {
	.news-element__text {
		font-size: 6px;
		line-height: 10px;
	}
}
.film {
	div div span {
		font-weight: bold;
	}
	&__img {
		// width: 100px;
		// height: 100px;
		background: url("../img/Royal_game.jfif") center / contain no-repeat;
	}
}

.world-cup {
	&__img {
		// margin-bottom: 600px;
		// width: 100px;
		// height: 100px;
		background: url("../img/match.jpg") center / contain no-repeat;
	}
	// display: none;
}

@media (max-width: 310px) {
	.world-cup__img {
		// flex: 0 0 auto;
		background-position: 35px 0;
		// background-size: cover;
		// border: 2px solid red;
		// padding: -20px;
	}
}
.item-hidden {
	// visibility: hidden;
	display: none;
}
.display-none {
	display: none;
	// opacity: 0;
}

.btn-color-active {
	background-color: rgba(100, 241, 123, 0.952);
}
.but-nav-bloat-color-passive {
	background-color: $inside-menu-bgcolor;
}

.but-change {
	position: absolute;
	top: -25px;
	right: 100px;
	width: 45px;
	height: 45px;
	// background-color: $inside-menu-bgcolor;
	border-radius: 50%;
	border: 2px solid black;
	&:hover {
		box-shadow: 0 0 5px 4px orange;
	}
}

@media (max-width: 594px) {
	.but-change {
		width: 30px;
		height: 30px;
		// left: 300px;
		right: 60px;
	}
}
@media (max-width: 382px) {
	.but-change {
		right: 20px;
	}
}

@media (max-width: 351px) {
	.but-change {
		top: 20px;
		right: 4px;
	}
}
@media (max-width: 288px) {
	.but-change {
		top: -33px;
		right: 4px;
	}
}

//! news

.foot {
	display: flex;
	background-color: black;
	height: 300px;
	width: 100%;
	&__title {
		display: inline-flex;
		text-align: center;
		height: 80px;
		display: flex;
		flex: 1 1 auto;
		// align-self: baseline;
		align-self: center;
		justify-self: center;
		font-weight: 600;
		font-size: 28px;
		color: white;
		// margin-bottom: 20px;
	}
	// .title-2 {
	// 	// padding-top: 20px;
	// }
	&__row {
		display: flex;
		border: 2px solid black;
		flex-wrap: wrap;
	}

	&__element {
		width: 100%;
		flex: 0 1 33.3333%;
		border: 3px solid rgb(12, 12, 11);
		// text-align: left;
		padding: 10px;
	}

	&__ul li {
		margin-bottom: 10px;
		& a {
			font-size: 22px;
			color: rgb(187, 176, 176);
			transition-duration: 0.5s;
			&:hover {
				color: #fff;
				// text-decoration: underline;
			}
		}
	}
	// .foot__element-1{
	// 	flex: 0 1 100%;
	// }
	// .foot__element-2{
	// 	flex: 0 1 50%;
	// }
	// .foot__element-3{
	// 	flex: 0 1 50%;
	// }
}

@media (max-width: 659px) {
	.foot {
		height: 600px;
	}
	// .foot__element {
	// 	// justify-content: center;
	// 	// align-content: center;
	// }
	.foot__element-1 {
		flex: 1 1 100%;
		// text-align: center;
	}
	.foot__element-2 {
		flex: 1 1 50%;
	}
	.foot__element-3 {
		flex: 1 1 50%;
	}
	.foot__title {
		// font-size: 24px;
		// text-align: center;
		// color: red;
		// border: 2px solid red;

		height: 80px;
		// padding: 10px 0;
		display: flex;
		justify-content: flex-start;
		// align-self: center;
		// justify-self: center;
		// margin-bottom: 0;
	}
	.title-1 {
		height: auto;
		margin: 10px 0;
	}
	// .title-2{
	// 	padding-top: 50px;
	// }
	// .title-1{
	// 	padding-top: 16px;
	// 	padding-left: 115px;
	// }
	// .title-2{
	// padding-left: 20px;
	// 	padding-top: 16px;
	// }
}
@media (max-width: 474px) {
	.foot {
		// text-align: center;
		height: 800px;
		&__element {
			flex: 1 1 auto;
		}
		&__title {
			// justify-content: center;
			height: auto;
			// display: flex;
			// text-align: center;
			// align-self: center;
		}
	}
}

@media (max-width: 581px) {
	.title-3,
	.title-2 {
		height: 100px;
	}
	.title-2 {
		// padding-top: 20px;
		// display: flex;
		// align-self: center;
		// text-align: center;
		// align-self: center;
		padding-top: 35px;
		// justify-content: center;
		// border: 2px solid white;
	}
	// .title-1,
	// .title-2 {
	// 	// padding: 20px;
	// }
}
